{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Burger King - Food Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free Website Template" name="keywords" />
    <meta content="Free Website Template" name="description" />

    <!-- Favicon -->
    <link href="{%static 'img/favicon.ico'%}" rel="icon" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="{%static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link
      href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{%static 'lib/flaticon/font/flaticon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{%static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css'%}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="{%static 'css/style.css'%}" rel="stylesheet" />
  </head>

  <body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
        <a href="index.html" class="navbar-brand">Burger <span>King</span></a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav ml-auto">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="feature.html" class="nav-item nav-link">Feature</a>
            <a href="team.html" class="nav-item nav-link">Chef</a>
            <a href="menu.html" class="nav-item nav-link">Menu</a>
            <a href="booking.html" class="nav-item nav-link">Booking</a>
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >Pages</a
              >
              <div class="dropdown-menu">
                <a href="blog.html" class="dropdown-item">Blog Grid</a>
                <a href="single.html" class="dropdown-item">Blog Detail</a>
              </div>
            </div>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Carousel Start -->
    <div class="carousel">
      <div class="container-fluid">
        <div class="owl-carousel">
          <div class="carousel-item">
            <div class="carousel-img">
              <img src="{%static 'img/carousel-1.jpg'%}" alt="Image" />
            </div>
            <div class="carousel-text">
              <h1>Best <span>Quality</span> Ingredients</h1>
              <p>
                Lorem ipsum dolor sit amet elit. Phasellus ut mollis mauris.
                Vivamus egestas eleifend dui ac consequat at lectus in malesuada
              </p>
              <div class="carousel-btn">
                <a class="btn custom-btn" href="">View Menu</a>
                <a class="btn custom-btn" href="">Book Table</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-img">
              <img src="{%static 'img/carousel-2.jpg'%}" alt="Image" />
            </div>
            <div class="carousel-text">
              <h1>World’s <span>Best</span> Chef</h1>
              <p>
                Morbi sagittis turpis id suscipit feugiat. Suspendisse eu augue
                urna. Morbi sagittis, orci sodales varius fermentum, tortor
              </p>
              <div class="carousel-btn">
                <a class="btn custom-btn" href="">View Menu</a>
                <a class="btn custom-btn" href="">Book Table</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-img">
              <img src="{%static 'img/carousel-3.jpg'%}" alt="Image" />
            </div>
            <div class="carousel-text">
              <h1>Fastest Order <span>Delivery</span></h1>
              <p>
                Sed ultrices, est eget feugiat accumsan, dui nibh egestas
                tortor, ut rhoncus nibh ligula euismod quam. Proin pellentesque
                odio
              </p>
              <div class="carousel-btn">
                <a class="btn custom-btn" href="">View Menu</a>
                <a class="btn custom-btn" href="">Book Table</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel End -->

    <!-- Booking Start -->
    <div class="booking">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <div class="booking-content">
              <div class="section-header">
                <p>Book A Table</p>
                <h2>Book Your Table For Private Dinners & Happy Hours</h2>
              </div>
              <div class="about-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus. Aenean consectetur convallis porttitor.
                  Aliquam interdum at lacus non blandit.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="booking-form">
              <form>
                <div class="control-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      required="required"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="input-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      required="required"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="far fa-envelope"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Mobile"
                      required="required"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-mobile-alt"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div
                    class="input-group date"
                    id="date"
                    data-target-input="nearest"
                  >
                    <input
                      type="text"
                      class="form-control datetimepicker-input"
                      placeholder="Date"
                      data-target="#date"
                      data-toggle="datetimepicker"
                    />
                    <div
                      class="input-group-append"
                      data-target="#date"
                      data-toggle="datetimepicker"
                    >
                      <div class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div
                    class="input-group time"
                    id="time"
                    data-target-input="nearest"
                  >
                    <input
                      type="text"
                      class="form-control datetimepicker-input"
                      placeholder="Time"
                      data-target="#time"
                      data-toggle="datetimepicker"
                    />
                    <div
                      class="input-group-append"
                      data-target="#time"
                      data-toggle="datetimepicker"
                    >
                      <div class="input-group-text">
                        <i class="far fa-clock"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="input-group">
                    <select class="custom-select form-control">
                      <option selected>Guest</option>
                      <option value="1">1 Guest</option>
                      <option value="2">2 Guest</option>
                      <option value="3">3 Guest</option>
                      <option value="4">4 Guest</option>
                      <option value="5">5 Guest</option>
                      <option value="6">6 Guest</option>
                      <option value="7">7 Guest</option>
                      <option value="8">8 Guest</option>
                      <option value="9">9 Guest</option>
                      <option value="10">10 Guest</option>
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-chevron-down"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <button class="btn custom-btn" type="submit">Book Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Booking End -->

    <!-- About Start -->
    <div class="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-img">
              <img src="{%static 'img/about.jpg'%}" alt="Image" />
              <button
                type="button"
                class="btn-play"
                data-toggle="modal"
                data-src="https://www.youtube.com/embed/DWRcNpR6Kdc"
                data-target="#videoModal"
              >
                <span></span>
              </button>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-content">
              <div class="section-header">
                <p>About Us</p>
                <h2>Cooking Since 1990</h2>
              </div>
              <div class="about-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus. Aenean consectetur convallis porttitor.
                  Aliquam interdum at lacus non blandit.
                </p>
                <a class="btn custom-btn" href="">Book A Table</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Video Modal Start-->
    <div
      class="modal fade"
      id="videoModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                class="embed-responsive-item"
                src=""
                id="video"
                allowscriptaccess="always"
                allow="autoplay"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Video Modal End -->

    <!-- Feature Start -->
    <div class="feature">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="section-header">
              <p>Why Choose Us</p>
              <h2>Our Key Features</h2>
            </div>
            <div class="feature-text">
              <div class="feature-img">
                <div class="row">
                  <div class="col-6">
                    <img src="{%static 'img/feature-1.jpg'%}" alt="Image" />
                  </div>
                  <div class="col-6">
                    <img src="{%static 'img/feature-2.jpg'%}" alt="Image" />
                  </div>
                  <div class="col-6">
                    <img src="{%static 'img/feature-3.jpg'%}" alt="Image" />
                  </div>
                  <div class="col-6">
                    <img src="{%static 'img/feature-4.jpg'%}" alt="Image" />
                  </div>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet consec adipis elit. Phasel nec preti
                mi. Curabit facilis ornare velit non vulputa. Aliquam metus
                tortor, auctor id gravida condime, viverra quis sem. Curabit non
                nisl nec nisi sceleri maximus
              </p>
              <a class="btn custom-btn" href="">Book A Table</a>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-sm-6">
                <div class="feature-item">
                  <i class="flaticon-cooking"></i>
                  <h3>World’s best Chef</h3>
                  <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi.
                    Curabit facilis ornare velit non vulput metus tortor
                  </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="feature-item">
                  <i class="flaticon-vegetable"></i>
                  <h3>Natural ingredients</h3>
                  <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi.
                    Curabit facilis ornare velit non vulput metus tortor
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="feature-item">
                  <i class="flaticon-medal"></i>
                  <h3>Best quality products</h3>
                  <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi.
                    Curabit facilis ornare velit non vulput metus tortor
                  </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="feature-item">
                  <i class="flaticon-meat"></i>
                  <h3>Fresh vegetables & Meet</h3>
                  <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi.
                    Curabit facilis ornare velit non vulput metus tortor
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="feature-item">
                  <i class="flaticon-courier"></i>
                  <h3>Fastest door delivery</h3>
                  <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi.
                    Curabit facilis ornare velit non vulput metus tortor
                  </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="feature-item">
                  <i class="flaticon-fruits-and-vegetables"></i>
                  <h3>Ground beef & Low fat</h3>
                  <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi.
                    Curabit facilis ornare velit non vulput metus tortor
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature End -->

    <!-- Food Start -->
    <div class="food">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="food-item">
              <i class="flaticon-burger"></i>
              <h2>Burgers</h2>
              <p>
                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit
                facilis ornare velit non vulputa. Aliquam metus tortor auctor
                quis sem.
              </p>
              <a href="">View Menu</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="food-item">
              <i class="flaticon-snack"></i>
              <h2>Snacks</h2>
              <p>
                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit
                facilis ornare velit non vulputa. Aliquam metus tortor auctor
                quis sem.
              </p>
              <a href="">View Menu</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="food-item">
              <i class="flaticon-cocktail"></i>
              <h2>Beverages</h2>
              <p>
                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit
                facilis ornare velit non vulputa. Aliquam metus tortor auctor
                quis sem.
              </p>
              <a href="">View Menu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Food End -->

    <!-- Menu Start -->
    <div class="menu">
      <div class="container">
        <div class="section-header text-center">
          <p>Food Menu</p>
          <h2>Delicious Food Menu</h2>
        </div>
        <div class="menu-tab">
          <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#burgers"
                >Burgers</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#snacks">Snacks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#beverages"
                >Beverages</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div id="burgers" class="container tab-pane active">
              <div class="row">
                <div class="col-lg-7 col-md-12">
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-burger.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Mini cheese Burger</span> <strong>&#8377 {{mcb}}</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-burger.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Double size burger</span> <strong>&#8377 {{dsb}}</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-burger.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Bacon, EGG and Cheese</span>
                        <strong>&#8377 {{bec}}</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-burger.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Pulled porx Burger</span> <strong>&#8377 {{ppb}}</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-burger.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Fried chicken Burger</span>
                        <strong>&#8377 {{fcb}}</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                  <img src="{%static 'img/menu-burger-img.jpg'%}" alt="Image" />
                </div>
              </div>
            </div>
            <div id="snacks" class="container tab-pane fade">
              <div class="row">
                <div class="col-lg-7 col-md-12">
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-snack.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Corn Tikki - Spicy fried Aloo</span>
                        <strong>$15.00</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-snack.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Bread besan Toast</span> <strong>$35.00</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-snack.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Healthy soya nugget snacks</span>
                        <strong>$20.00</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-snack.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Tandoori Soya Chunks</span>
                        <strong>$30.00</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                  <img src="{%static 'img/menu-snack-img.jpg'%}" alt="Image" />
                </div>
              </div>
            </div>
            <div id="beverages" class="container tab-pane fade">
              <div class="row">
                <div class="col-lg-7 col-md-12">
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-beverage.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Single Cup Brew</span> <strong>$7.00</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-beverage.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Caffe Americano</span> <strong>$9.00</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-beverage.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Caramel Macchiato</span> <strong>$15.00</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-beverage.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Standard black coffee</span>
                        <strong>$8.00</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{%static 'img/menu-beverage.jpg'%}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>Standard black coffee</span>
                        <strong>$12.00</strong>
                      </h3>
                      <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec preti facil
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                  <img src="{%static 'img/menu-beverage-img.jpg'%}" alt="Image" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Menu End -->

    <!-- Team Start -->
    <div class="team">
      <div class="container">
        <div class="section-header text-center">
          <p>Our Team</p>
          <h2>Our Master Chef</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="team-item">
              <div class="team-img">
                <img src="{%static 'img/team-1.jpg'%}" alt="Image" />
                <div class="team-social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>
              <div class="team-text">
                <h2>Adam Phillips</h2>
                <p>CEO, Co Founder</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item">
              <div class="team-img">
                <img src="{%static 'img/team-2.jpg'%}" alt="Image" />
                <div class="team-social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>
              <div class="team-text">
                <h2>Dylan Adams</h2>
                <p>Master Chef</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item">
              <div class="team-img">
                <img src="{%static 'img/team-3.jpg'%}" alt="Image" />
                <div class="team-social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>
              <div class="team-text">
                <h2>Jhon Doe</h2>
                <p>Master Chef</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item">
              <div class="team-img">
                <img src="{%static 'img/team-4.jpg'%}" alt="Image" />
                <div class="team-social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>
              <div class="team-text">
                <h2>Josh Dunn</h2>
                <p>Master Chef</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team End -->

    <!-- Testimonial Start -->
    <div class="testimonial">
      <div class="container">
        <div class="owl-carousel testimonials-carousel">
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{%static 'img/testimonial-1.jpg'%}" alt="Image" />
            </div>
            <p>
              Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit
              facilis ornare velit non vulput
            </p>
            <h2>Client Name</h2>
            <h3>Profession</h3>
          </div>
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{%static 'img/testimonial-2.jpg'%}" alt="Image" />
            </div>
            <p>
              Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit
              facilis ornare velit non vulput
            </p>
            <h2>Client Name</h2>
            <h3>Profession</h3>
          </div>
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{%static 'img/testimonial-3.jpg'%}" alt="Image" />
            </div>
            <p>
              Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit
              facilis ornare velit non vulput
            </p>
            <h2>Client Name</h2>
            <h3>Profession</h3>
          </div>
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{%static 'img/testimonial-4.jpg'%}" alt="Image" />
            </div>
            <p>
              Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit
              facilis ornare velit non vulput
            </p>
            <h2>Client Name</h2>
            <h3>Profession</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Contact Start -->
    <div class="contact">
      <div class="container">
        <div class="section-header text-center">
          <p>Contact Us</p>
          <h2>Contact For Any Query</h2>
        </div>
        <div class="row align-items-center contact-information">
          <div class="col-md-6 col-lg-3">
            <div class="contact-info">
              <div class="contact-icon">
                <i class="fa fa-map-marker-alt"></i>
              </div>
              <div class="contact-text">
                <h3>Address</h3>
                <p>123 Street, NY, USA</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contact-info">
              <div class="contact-icon">
                <i class="fa fa-phone-alt"></i>
              </div>
              <div class="contact-text">
                <h3>Call Us</h3>
                <p>+012 345 6789</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contact-info">
              <div class="contact-icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="contact-text">
                <h3>Email Us</h3>
                <p>info@example.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contact-info">
              <div class="contact-icon">
                <i class="fa fa-share"></i>
              </div>
              <div class="contact-text">
                <h3>Follow Us</h3>
                <div class="contact-social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-youtube"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row contact-form">
          <div class="col-md-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1600663868074!5m2!1sen!2sbd"
              frameborder="0"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
          <div class="col-md-6">
            <div id="success"></div>
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
              <div class="control-group">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  required="required"
                  data-validation-required-message="Please enter your name"
                />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Your Email"
                  required="required"
                  data-validation-required-message="Please enter your email"
                />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="Subject"
                  required="required"
                  data-validation-required-message="Please enter a subject"
                />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <textarea
                  class="form-control"
                  id="message"
                  placeholder="Message"
                  required="required"
                  data-validation-required-message="Please enter your message"
                ></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div>
                <button
                  class="btn custom-btn"
                  type="submit"
                  id="sendMessageButton"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->

    <!-- Blog Start -->
    <div class="blog">
      <div class="container">
        <div class="section-header text-center">
          <p>Food Blog</p>
          <h2>Latest From Food Blog</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="blog-item">
              <div class="blog-img">
                <img src="{%static 'img/blog-1.jpg'%}" alt="Blog" />
              </div>
              <div class="blog-content">
                <h2 class="blog-title">Lorem ipsum dolor sit amet</h2>
                <div class="blog-meta">
                  <p><i class="far fa-user"></i>Admin</p>
                  <p><i class="far fa-list-alt"></i>Food</p>
                  <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                  <p><i class="far fa-comments"></i>10</p>
                </div>
                <div class="blog-text">
                  <p>
                    Lorem ipsum dolor sit amet elit. Neca pretim miura bitur
                    facili ornare velit non vulpte liqum metus tortor. Lorem
                    ipsum dolor sit amet elit. Neca pretim miura bitur facili
                    ornare velit non vulpte
                  </p>
                  <a class="btn custom-btn" href="">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="blog-item">
              <div class="blog-img">
                <img src="{%static 'img/blog-2.jpg'%}" alt="Blog" />
              </div>
              <div class="blog-content">
                <h2 class="blog-title">Lorem ipsum dolor sit amet</h2>
                <div class="blog-meta">
                  <p><i class="far fa-user"></i>Admin</p>
                  <p><i class="far fa-list-alt"></i>Food</p>
                  <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                  <p><i class="far fa-comments"></i>10</p>
                </div>
                <div class="blog-text">
                  <p>
                    Lorem ipsum dolor sit amet elit. Neca pretim miura bitur
                    facili ornare velit non vulpte liqum metus tortor. Lorem
                    ipsum dolor sit amet elit. Neca pretim miura bitur facili
                    ornare velit non vulpte
                  </p>
                  <a class="btn custom-btn" href="">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Blog End -->

    <!-- Footer Start -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="row">
              <div class="col-md-6">
                <div class="footer-contact">
                  <h2>Our Address</h2>
                  <p>
                    <i class="fa fa-map-marker-alt"></i>123 Street, New York,
                    USA
                  </p>
                  <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                  <p><i class="fa fa-envelope"></i>info@example.com</p>
                  <div class="footer-social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="footer-link">
                  <h2>Quick Links</h2>
                  <a href="">Terms of use</a>
                  <a href="">Privacy policy</a>
                  <a href="">Cookies</a>
                  <a href="">Help</a>
                  <a href="">FQAs</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="footer-newsletter">
              <h2>Newsletter</h2>
              <p>
                Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum
                nec non quam. Tortor eu placerat rhoncus, lorem quam iaculis
                felis, sed lacus neque id eros.
              </p>
              <div class="form">
                <input class="form-control" placeholder="Email goes here" />
                <button class="btn custom-btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>
            Copyright &copy; <a href="#">Your Site Name</a>, All Right Reserved.
          </p>
          <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{%static 'lib/easing/easing.min.js'%}"></script>
    <script src="{%static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{%static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{%static 'lib/tempusdominus/js/moment-timezone.min.js'%}"></script>
    <script src="{%static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js'%}"></script>

    <!-- Contact Javascript File -->
    <script src="{%static 'mail/jqBootstrapValidation.min.js'%}"></script>
    <script src="{%static 'mail/contact.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{%static 'js/main.js'%}"></script>
  </body>
</html>
